
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> IDEs and editors ###
/.vscode/
/.idea/
*.swp
*.swo
*~
###< IDEs and editors ###

###> OS files ###
.DS_Store
Thumbs.db
###< OS files ###

###> Symfony CLI ###
/.symfony.local/
###< Symfony CLI ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> deptrac ###
/.deptrac.cache
/.deptrac.cache.*
###< deptrac ###

###> Node.js ###
/node_modules/
###< Node.js ###

###> phpunit ###
/var/cache/.phpunit/
/var/coverage/
###< phpunit ###

###> infection ###
/var/infection/
###< infection ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
