{
  "*.php": "vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.dist.php",
  "*.js": "eslint --fix",
  "*.css": [
    "stylelint --fix",
    "prettier --write"
  ],
  "*.{json,yaml,yml,js,ts,jsx,tsx,scss}": "prettier --write"
}
