{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": false,
  "trailingComma": "es5",
  "semi": true,
  "arrowParens": "always",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@ttskch/prettier-plugin-tailwindcss-anywhere"
  ],
  "tailwindStylesheet": "./assets/styles/app.css",
  "overrides": [
    {
      "files": "*.twig",
      "options": {
        "parser": "anywhere"
      }
    }
  ]
}
