{
  "$schema": "https://raw.githubusercontent.com/infection/infection/main/resources/schema.json",
  "source": {
    "directories": ["src"],
    "excludes": ["Kernel.php"]
  },
  "timeout": 10,
  "testFramework": "phpunit",
  "logs": {
    "html": "var/infection/infection.html",
    "text": "var/infection/infection.log",
    "summary": "var/infection/summary.log"
  },
  "minMsi": 100,
  "minCoveredMsi": 100
}
